<?php
  // Single sign-on portal URL
  define("PORTAL_URL","http://hostname:port");
  define("KEYSTONE_URL", "http://hostname:port");
  // Service credentials
  define("SERVICE_NAME", "...");
  define("SERVICE_PASSWORD", "...");
  define("SERVICE_PROJECT", "Services");
  // Users DB credentials
  define("DB_CONNECTION","mysql:host=...;dbname=...");
  define("DB_LOGIN","...");
  define("DB_PASSWORD","...");
?>